ul li {
    list-style: none;
  }
mat-toolbar{
  background-color: #62655D;
  min-height:20px;
  display: flex;
  border-radius: 2px;

}
mat-icon
{
  color: white;
}
span{
  color:white;
  font-family: 'Harmattan', sans-serif;
  font-size:32px;
}