<div>
    <mat-card class="card">
        <div class="container">
            <div class="image">
                <img src="assets\logo.png" alt="Company Logo">
            </div>
            
            <div class="text">
                <mat-card-title>ABC Company</mat-card-title>
                <br>
                <mat-card-subtitle>Company Motto</mat-card-subtitle>
            </div>
            
        </div>
        
        <mat-card-content>
          <h3>ABOUT THE COMPANY</h3>
          <p>{{aboutCompany}}</p>
        </mat-card-content>
    
        <mat-card-actions>
            <div class="button-container">
                <div class="button-center">
                    <button mat-flat-button class="left-button">Our History</button>
                    <button mat-flat-button class="middle-button">Work Culture</button>
                </div>
            </div> 
        </mat-card-actions>
      </mat-card>
</div>
<!--Our History-->
<br>
<br>
<div id="history">
    <mat-card class="his">
            <div class="text container">
                <mat-card-title>OUR HISTORY</mat-card-title>
                
            </div>
            <br>
        <mat-card-content>
          
          <p>{{aboutHistory}}</p>
        </mat-card-content>
</mat-card>
</div>
<br>
<br>
<div id="work_culture">
    <mat-card >
            <div class="text container">
                
                <mat-card-title>WORK CULTURE</mat-card-title>
                
            </div>
            <br>
        <mat-card-content>
          
          <p>{{aboutCulture}}</p>
        </mat-card-content>
</mat-card>
</div>
<br>
<br>


