table {
    width: 100%;
  }
h1
{
   text-align: center;
   color: #FC4A1A;
   font-family: 'Harmattan', sans-serif;
   font-size: 35px;
}
p{
  text-align: center;
   color: black;
   font-family: 'Harmattan', sans-serif;
   font-size: 20px;
}