<div>
    <h1><strong>Performance Report</strong></h1>
    <p><strong>Displays the performance of all the branches for the period 2018-2022.
        These reports mainly contain tables and charts to convey performance numbers.
    </strong></p>
    <app-widget-area>

    </app-widget-area>
</div>
<br>
<br>
<h1><strong>Branch Wise Report</strong></h1>
<p><strong> Shows the performance of each branch via linear charts.
</strong></p>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="33">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="33">
        <app-widget-card></app-widget-card>
    </mat-card>
    
</div>

<br>
<mat-divider></mat-divider>

<br>
<h1><strong>Employee Information</strong></h1>
<div>
    <p><strong>
        The table contains information about all the current employees in the company.

    </strong></p>
    <app-widget-table></app-widget-table>
  
</div>
<br>
<br>